<h3>Documents</h3>
<hr>

<div class="alert alert-primary" role="alert">
  Documents Name - Aadhiwasi-Documents
</div>

<h4>Documents Required</h4>


<div class="container-fluid" style="background-color: rgb(226, 255, 254);">
  <hr>
<ul class="arrow-list">
  <li>आधार कार्ड</li>
  <li>वोटर कार्ड</li>
  <li>बँक पासबुक</li>
  <li>आदीवासी प्रमाणपत्र</li>
  <li>जाती प्रमाणपत्र</li>
  <li>उत्पन्न प्रमाणपत्र</li>
  <li>ग्रा. पं. ठराव</li>
  <li>रेशन कार्ड</li>
  <li>हमीपत्र</li>
  <li>ग्रा. पं. नमुना नं ८</li>
  <li>घरपट्टी व पाणीपट्टी पावती</li>
  <li>थकबाकी नसल्याच्या दाखला</li>
  <li>रहिवाशी दाखला</li>
</ul>
<hr>
<div class="text-center">
  <button routerLink="/dashboard/aadhiwasi-certificate" type="button" class="btn btn-success">Continue</button>
</div>
<hr>
</div>



