<div class="container">
  <h2 class="text-center mb-4">आदीवासी प्रमाणपत्र अर्ज</h2>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>

          <th>Full Name</th>
          <th>Father's Name</th>
          <th>Mother's Name</th>
          <th>Date of Birth</th>
          <!-- <th>Mobile</th> -->
          <!-- <th>Aadhar No</th> -->
          <th>Bank Name</th>
          <!-- <th>Account No</th> -->
          <th>IFC Code</th>
          <th>Branch</th>
          <th>Action</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of department1Documents">

            <!-- <button type="button" class="btn btn-primary" (click)="openModal(data)" data-bs-toggle="modal" data-bs-target="#exampleModal">
              View
            </button> -->

          <td>{{ data.fullname }}</td>
          <td>{{ data.fathername }}</td>
          <td>{{ data.mothername }}</td>
          <td>{{ data.birthdate }}</td>
          <!-- <td>{{ data.mobile }}</td>
          <td>{{ data.aadhar }}</td> -->
          <td>{{ data.bankname }}</td>
          <!-- <td>{{ data.accountno }}</td> -->
          <td>{{ data.ifccode }}</td>
          <td>{{ data.branch }}</td>
          <td><button type="button" class="btn btn-danger" (click)="openModal(data)" data-bs-toggle="modal" data-bs-target="#exampleModal2">Take Action</button></td>
          <td><button type="button" class="btn btn-primary" (click)="openModal(data)" data-bs-toggle="modal" data-bs-target="#exampleModal">
            View
          </button></td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">

          <nav class="modal-header navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="row align-items-center w-100"> <!-- Align items vertically -->
              <div class="col-auto">
                <img src="/assets/img/IMG-20240401-WA0003.jpg" alt="Logo" class="navbar-logo" style="width: 50px; height: auto;"> <!-- Replace "your-small-logo.png" with the path to your small logo -->
              </div>
              <div class="col">
                <span class="navbar-text text-truncate" style="max-width: 150px; font-size: 18px; color: white;">एकात्मिक आदिवासी प्रकल्प कार्यालय</span>
              </div>

            </div>
            <button class="btn btn-primary mr-1" (click)="print()">Print</button>
            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </nav>


        <div class="modal-body">

          <div class="printable-form">
            <h2 class="text-center">आदीवासी प्रमाणपत्र अर्ज</h2>
            <hr>
            <div class="form-row">
              <div class="form-group">
                <label class="label-section" for="salutation1">Salutation</label>
                <section class="content-section">{{ selectedData.salutation1 }}</section>
              </div>
              <div class="form-group">
                <label class="label-section" for="fullname">Full Name:</label>
                <section class="content-section">{{ selectedData.fullname }}</section>
              </div>
              <div class="form-group">
                <label class="label-section" for="namemarathi">Name (Marathi):</label>
                <section class="content-section">{{ selectedData.namemarathi }}</section>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label class="label-section" for="salutation2">Salutation</label>
                <section class="content-section">{{ selectedData.salutation2 }}</section>
              </div>
              <div class="form-group">
                <label class="label-section" for="fathername">Father's Name:</label>
                <section class="content-section">{{ selectedData.fathername }}</section>
              </div>
              <div class="form-group">
                <label class="label-section" for="fathernamemarathi">Father's Name (Marathi):</label>
                <section class="content-section">{{ selectedData.fathernamemarathi }}</section>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label class="label-section" for="salutation3">Salutation</label>
                <section class="content-section">{{ selectedData.salutation3 }}</section>
              </div>
              <div class="form-group">
                <label class="label-section" for="mothername">Mother's Name:</label>
                <section class="content-section">{{ selectedData.mothername }}</section>
              </div>
              <div class="form-group">
                <label class="label-section" for="mothernamemarathi">Mother's Name (Marathi):</label>
                <section class="content-section">{{ selectedData.mothernamemarathi }}</section>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label class="label-section" for="birthdate">Date of Birth:</label>
                <span class="content-section">{{ selectedData.birthdate }}</span>
              </div>
              <div class="form-group">
                <label class="label-section" for="age">Age:</label>
                <span class="content-section">{{ selectedData.age }}</span>
              </div>
              <div class="form-group">
                <label class="label-section" for="mobile">Mobile:</label>
                <span class="content-section">{{ selectedData.mobile }}</span>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label class="label-section" for="aadhar">Aadhar No:</label>
                <span class="content-section">{{ selectedData.aadhar }}</span>
              </div>
              <div class="form-group">
                <label class="label-section" for="bankname">Bank Name:</label>
                <span class="content-section">{{ selectedData.bankname }}</span>
              </div>
              <div class="form-group">
                <label class="label-section" for="accountno">Account No:</label>
                <span class="content-section">{{ selectedData.accountno }}</span>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label class="label-section" for="ifccode">IFSC Code:</label>
                <span class="content-section">{{ selectedData.ifccode }}</span>
              </div>
              <div class="form-group">
                <label class="label-section" for="branch">Branch:</label>
                <span class="content-section">{{ selectedData.branch }}</span>
              </div>
</div>
</div>




        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">

        <nav class="modal-header navbar navbar-expand-lg navbar-dark bg-dark">

          <div class="row align-items-center w-100"> <!-- Align items vertically -->
            <div class="col-auto">
              <img src="/assets/img/IMG-20240401-WA0003.jpg" alt="Logo" class="navbar-logo" style="width: 50px; height: auto;"> <!-- Replace "your-small-logo.png" with the path to your small logo -->
            </div>
            <div class="col">
              <span class="navbar-text text-truncate" style="max-width: 150px; font-size: 18px; color: white;">एकात्मिक आदिवासी प्रकल्प कार्यालय</span>
            </div>

          </div>

          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </nav>


      <div class="modal-body">


<div class="row">
<div class="div col-8">
  <h2 class="text-center">आदीवासी प्रमाणपत्र अर्ज</h2>
  <hr>
  <div class="form-row">
    <div class="form-group">
      <label class="label-salutation" for="salutation1">Salutation</label>
      <span>{{ selectedData.salutation1 }}</span>
    </div>
    <div class="form-group">
      <label class="label-fullname" for="fullname">Full Name:</label>
      <span>{{ selectedData.fullname }}</span>
    </div>
    <div class="form-group">
      <label class="label-marathi" for="namemarathi">Name (Marathi):</label>
      <span>{{ selectedData.namemarathi }}</span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label class="label-salutation" for="salutation2">Salutation</label>
      <span>{{ selectedData.salutation2 }}</span>
    </div>
    <div class="form-group">
      <label class="label-fullname" for="fathername">Father's Name:</label>
      <span>{{ selectedData.fathername }}</span>
    </div>
    <div class="form-group">
      <label class="label-marathi" for="fathernamemarathi">Father's Name (Marathi):</label>
      <span>{{ selectedData.fathernamemarathi }}</span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label class="label-salutation" for="salutation3">Salutation</label>
      <span>{{ selectedData.salutation3 }}</span>
    </div>
    <div class="form-group">
      <label class="label-fullname" for="mothername">Mother's Name:</label>
      <span>{{ selectedData.mothername }}</span>
    </div>
    <div class="form-group">
      <label class="label-marathi" for="mothernamemarathi">Mother's Name (Marathi):</label>
      <span>{{ selectedData.mothernamemarathi }}</span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label class="label-salutation" for="birthdate">Date of Birth:</label>
      <span>{{ selectedData.birthdate }}</span>
    </div>
    <div class="form-group">
      <label class="label-fullname" for="age">Age:</label>
      <span>{{ selectedData.age }}</span>
    </div>
    <div class="form-group">
      <label class="label-marathi" for="mobile">Mobile:</label>
      <span>{{ selectedData.mobile }}</span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label class="label-salutation" for="aadhar">Aadhar No:</label>
      <span>{{ selectedData.aadhar }}</span>
    </div>
    <div class="form-group">
      <label class="label-fullname" for="bankname">Bank Name:</label>
      <span>{{ selectedData.bankname }}</span>
    </div>
    <div class="form-group">
      <label class="label-marathi" for="accountno">Account No:</label>
      <span>{{ selectedData.accountno }}</span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label class="label-salutation" for="ifccode">IFSC Code:</label>
      <span>{{ selectedData.ifccode }}</span>
    </div>
    <div class="form-group">
      <label class="label-fullname" for="branch">Branch:</label>
      <span>{{ selectedData.branch }}</span>
    </div>
</div>

<div class="normal-div">
  <!-- Content for the normal div -->
</div>



    </div>

    <div class="normal-div col-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">no</th>
            <th scope="col">Documents</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="selectedData.document1URL">
            <th scope="row">1</th>
            <td>
              <a href="javascript:void(0)" (click)="openInNewTab(selectedData.document1URL)">Aadhaar card</a>
            </td>
          </tr>
          <tr *ngIf="selectedData.document2URL">
            <th scope="row">2</th>
            <td>
              <a href="javascript:void(0)" (click)="openInNewTab(selectedData.document2URL)">Voter card</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Send to PO</button>
    <button type="button" class="btn btn-secondary">Send to Review</button>
    <button type="button" class="btn btn-success" (click)="generateCertificate()">Certificate</button>

  </div>
  </div>
</div>
</div>










<!-- <div class="printable-form">
          <h2 class="text-center">fhddfbdf</h2>
          <hr>
          <div class="form-row">
            <div class="form-group">
              <label class="label-salutation" for="salutation1">Salutation</label>
              <span>{{ selectedData.salutation1 }}</span>
            </div>
            <div class="form-group">
              <label class="label-fullname" for="fullname">Full Name:</label>
              <span>{{ selectedData.fullname }}</span>
            </div>
            <div class="form-group">
              <label class="label-marathi" for="namemarathi">Name (Marathi):</label>
              <span>{{ selectedData.namemarathi }}</span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label class="label-salutation" for="salutation2">Salutation</label>
              <span>{{ selectedData.salutation2 }}</span>
            </div>
            <div class="form-group">
              <label class="label-fullname" for="fathername">Father's Name:</label>
              <span>{{ selectedData.fathername }}</span>
            </div>
            <div class="form-group">
              <label class="label-marathi" for="fathernamemarathi">Father's Name (Marathi):</label>
              <span>{{ selectedData.fathernamemarathi }}</span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label class="label-salutation" for="salutation3">Salutation</label>
              <span>{{ selectedData.salutation3 }}</span>
            </div>
            <div class="form-group">
              <label class="label-fullname" for="mothername">Mother's Name:</label>
              <span>{{ selectedData.mothername }}</span>
            </div>
            <div class="form-group">
              <label class="label-marathi" for="mothernamemarathi">Mother's Name (Marathi):</label>
              <span>{{ selectedData.mothernamemarathi }}</span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label class="label-salutation" for="birthdate">Date of Birth:</label>
              <span>{{ selectedData.birthdate }}</span>
            </div>
            <div class="form-group">
              <label class="label-fullname" for="age">Age:</label>
              <span>{{ selectedData.age }}</span>
            </div>
            <div class="form-group">
              <label class="label-marathi" for="mobile">Mobile:</label>
              <span>{{ selectedData.mobile }}</span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label class="label-salutation" for="aadhar">Aadhar No:</label>
              <span>{{ selectedData.aadhar }}</span>
            </div>
            <div class="form-group">
              <label class="label-fullname" for="bankname">Bank Name:</label>
              <span>{{ selectedData.bankname }}</span>
            </div>
            <div class="form-group">
              <label class="label-marathi" for="accountno">Account No:</label>
              <span>{{ selectedData.accountno }}</span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label class="label-salutation" for="ifccode">IFSC Code:</label>
              <span>{{ selectedData.ifccode }}</span>
            </div>
            <div class="form-group">
              <label class="label-fullname" for="branch">Branch:</label>
              <span>{{ selectedData.branch }}</span>
            </div>
</div>
</div> -->
