.marquee-strip {
      background-color: #0B1165; /* Light gray background */
      padding: 10px 0; /* Add padding for better readability */
      display: flex;
      align-items: center;
      color: white;
    }

    .static-text {
      white-space: nowrap; /* Prevents wrapping */
      font-weight: bold;
      margin-right: 20px; /* Add space between static and moving text */
    }

    /* Style for the marquee strip */
    marquee {
      width: 100%; /* Occupy full width */
      white-space: nowrap; /* Prevent text wrapping */
    }

    .link-box {
      display: inline-block;
      padding: 10px;
      margin: 5px;
      background-color: #f0f0f0; /* Light gray background */
      border-radius: 5px;
    }

    .link-box a {
      color: #333; /* Dark text color */
      text-decoration: none; /* Remove underline */
    }

    .link-box:hover {
      background-color: #e0e0e0; /* Darker gray background on hover */
    }

    .card-header {
      background-color: #0B1165;
      color: white;
      text-align: center;
    }
